/* Localized versions of Info.plist keys */

{
    NSInfoPlistVersion = "6.1";
    NSAppVersion = "2";
    NSHumanReadableShortName = "TeXShop";
    NSHumanReadableCompleteName = "TeXShop"; 
    NSHumanReadableCopyright = "Copyright (c) 2001-2005, Eugene Algorithms \n http://www.uoregon.edu/~koch/texshop";
    CFBundleDocumentTypes = (
     {
        CFBundleTypeName = "tex";
        CFBundleTypeReadableName = "Document TeX";
        CFBundleTypeExtensions = ("tex", "TEX", "txt", "TXT");
        CFBundleOSTypes = ("TEXT", "????");
        CFBundleDOSNames = ("tex");
        CFBundleTypeRole = Editor;
        NSDocumentClass = TSDocument;
      }
      {
        CFBundleTypeName = "NSPDFPboardType";
        CFBundleTypeReadableName = "Document PDF";
        CFBundleTypeExtensions = ("pdf");
        CFBundleOSTypes = ("PDF");
        CFBundleDOSNames = ("pdf");
        CFBundleTypeRole = Viewer;
        NSDocumentClass = TSDocument;
      }
      {
        CFBundleTypeName = "NSTIFFPboardType";
        CFBundleTypeReadableName = "Document TIFF";
        CFBundleTypeExtensions = ("tiff", "tif");
        CFBundleOSTypes = ("TIFF");
        CFBundleDOSNames = ("tiff");
        CFBundleTypeRole = Viewer;
        NSDocumentClass = TSDocument;
      }
       {
        CFBundleTypeName = "NSEPSPboardType";
        CFBundleTypeReadableName = "Document EPS";
        CFBundleTypeExtensions = ("eps");
        CFBundleOSTypes = ("EPS");
        CFBundleDOSNames = ("eps");
        CFBundleTypeRole = Viewer;
        NSDocumentClass = TSDocument;
      }
        {
        CFBundleTypeName = "NSEPSIPboardType";
        CFBundleTypeReadableName = "Document EPSI";
        CFBundleTypeExtensions = ("epsi");
        CFBundleOSTypes = ("EPSI");
        CFBundleDOSNames = ("epsi");
        CFBundleTypeRole = Viewer;
        NSDocumentClass = TSDocument;
      }
    {
        CFBundleTypeName = "LogFile";
        CFBundleTypeReadableName = "Fichier TeX Log";
        CFBundleTypeExtensions = ("log");
        CFBundleOSTypes = ("LOG");
        CFBundleDOSNames = ("eps");
        CFBundleTypeRole = Viewer;
        NSDocumentClass = TSDocument;
      }
      {
        CFBundleTypeName = "AuxFile";
        CFBundleTypeReadableName = "Fichier TeX Aux";
        CFBundleTypeExtensions = ("aux");
        CFBundleOSTypes = ("AUX");
        CFBundleDOSNames = ("aux");
        CFBundleTypeRole = Viewer;
        NSDocumentClass = TSDocument;
      }
       {
        CFBundleTypeName = "DVIFile";
        CFBundleTypeReadableName = "Fichier TeX DVI";
        CFBundleTypeExtensions = ("dvi");
        CFBundleOSTypes = ("DVI");
        CFBundleDOSNames = ("dvi");
        CFBundleTypeRole = Viewer;
        NSDocumentClass = TSDocument;
      }
      {
        CFBundleTypeName = "bib";
        CFBundleTypeReadableName = "Fichier TeX bib";
        CFBundleTypeExtensions = ("bib");
        CFBundleOSTypes = ("BIB");
        CFBundleDOSNames = ("bib");
        CFBundleTypeRole = Editor;
        NSDocumentClass = TSDocument;
      }
      {
        CFBundleTypeName = "PostscriptFile";
        CFBundleTypeReadableName = "Fichier Postscript";
        CFBundleTypeExtensions = ("ps");
        CFBundleOSTypes = ("PS");
        CFBundleDOSNames = ("ps");
        CFBundleTypeRole = Viewer;
        NSDocumentClass = TSDocument;
      }
      {
        CFBundleTypeName = "TexshopFile";
        CFBundleTypeReadableName = "Document-ma”tre TeXShop";
        CFBundleTypeExtensions = ("texshop");
        CFBundleDOSNames = ("texshop");
        CFBundleTypeRole = Viewer;
        NSDocumentClass = TSDocument;
      }
       {
        CFBundleTypeName = "mp";
        CFBundleTypeReadableName = "mp";
        CFBundleTypeExtensions = ("mp");
        CFBundleDOSNames = ("MP");
        CFBundleTypeRole = Editor;
        NSDocumentClass = TSDocument;
      }
      {
        CFBundleTypeName = "mf";
        CFBundleTypeReadableName = "mf";
        CFBundleTypeExtensions = ("mf");
        CFBundleDOSNames = ("MF");
        CFBundleTypeRole = Editor;
        NSDocumentClass = TSDocument;
      }
       {
        CFBundleTypeName = "ins";
        CFBundleTypeReadableName = "Fichier INS";
        CFBundleTypeExtensions = ("ins");
        CFBundleDOSNames = ("INS");
        CFBundleTypeRole = Editor;
        NSDocumentClass = TSDocument;
      }
        {
        CFBundleTypeName = "dtx";
        CFBundleTypeReadableName = "Fichier DTX";
        CFBundleTypeExtensions = ("dtx");
        CFBundleDOSNames = ("DTX");
        CFBundleTypeRole = Editor;
        NSDocumentClass = TSDocument;
      }
        {
        CFBundleTypeName = "sty";
        CFBundleTypeReadableName = "Fichier STY";
        CFBundleTypeExtensions = ("sty");
        CFBundleDOSNames = ("STY");
        CFBundleTypeRole = Editor;
        NSDocumentClass = TSDocument;
      }
        {
        CFBundleTypeName = "cls";
        CFBundleTypeReadableName = "Fichier CLS";
        CFBundleTypeExtensions = ("cls");
        CFBundleDOSNames = ("CLS");
        CFBundleTypeRole = Editor;
        NSDocumentClass = TSDocument;
      }
       {
        CFBundleTypeName = "def";
        CFBundleTypeReadableName = "Fichier DEF";
        CFBundleTypeExtensions = ("def");
        CFBundleDOSNames = ("DEF");
        CFBundleTypeRole = Editor;
        NSDocumentClass = TSDocument;
      }
        {
        CFBundleTypeName = "fd";
        CFBundleTypeReadableName = "Fichier FD";
        CFBundleTypeExtensions = ("fd");
        CFBundleDOSNames = ("FD");
        CFBundleTypeRole = Editor;
        NSDocumentClass = TSDocument;
      }
        {
        CFBundleTypeName = "ltx";
        CFBundleTypeReadableName = "Fichier LTX";
        CFBundleTypeExtensions = ("ltx");
        CFBundleDOSNames = ("LTX");
        CFBundleTypeRole = Editor;
        NSDocumentClass = TSDocument;
      }
        {
        CFBundleTypeName = "clo";
        CFBundleTypeReadableName = "Fichier CLO";
        CFBundleTypeExtensions = ("clo");
        CFBundleDOSNames = ("CLO");
        CFBundleTypeRole = Editor;
        NSDocumentClass = TSDocument;
      }
        {
        CFBundleTypeName = "Plain Text";
        CFBundleTypeReadableName = "Texte en clair";
        CFBundleTypeExtensions = ("txt", "text", "*");
        CFBundleDOSNames = ("text/plain");
        CFBundleTypeRole = Editor;
        NSDocumentClass = TSDocument;
      }
    );
}