{
    NSInfoPlistVersion = "6.1";
    NSAppVersion = "2";
    NSHumanReadableShortName = "TeXShop";
    NSHumanReadableCompleteName = "TeXShop"; 
    NSHumanReadableCopyright = "Copyright (c) 2001-2006, Richard Koch 
 http://www.texshop.org";
    CFBundleDocumentTypes = (
     {
        CFBundleTypeName = "tex";
        CFBundleTypeReadableName = "Documento TeX";
        CFBundleTypeExtensions = ("tex", "TEX", "txt", "TXT");
        CFBundleOSTypes = ("TEXT", "????");
        CFBundleDOSNames = ("tex");
        CFBundleTypeRole = Editor;
        NSDocumentClass = TSDocument;
      },
      {
        CFBundleTypeName = "NSPDFPboardType";
        CFBundleTypeReadableName = "Documento PDF";
        CFBundleTypeExtensions = ("pdf");
        CFBundleOSTypes = ("PDF");
        CFBundleDOSNames = ("pdf");
        CFBundleTypeRole = Viewer;
        NSDocumentClass = TSDocument;
      },
      {
        CFBundleTypeName = "NSTIFFPboardType";
        CFBundleTypeReadableName = "Documento TIFF";
        CFBundleTypeExtensions = ("tiff", "tif");
        CFBundleOSTypes = ("TIFF");
        CFBundleDOSNames = ("tiff");
        CFBundleTypeRole = Viewer;
        NSDocumentClass = TSDocument;
      },
       {
        CFBundleTypeName = "NSEPSPboardType";
        CFBundleTypeReadableName = "Documento EPS";
        CFBundleTypeExtensions = ("eps");
        CFBundleOSTypes = ("EPS");
        CFBundleDOSNames = ("eps");
        CFBundleTypeRole = Viewer;
        NSDocumentClass = TSDocument;
      },
        {
        CFBundleTypeName = "NSEPSIPboardType";
        CFBundleTypeReadableName = "EPSI Document";
        CFBundleTypeExtensions = ("epsi");
        CFBundleOSTypes = ("EPSI");
        CFBundleDOSNames = ("epsi");
        CFBundleTypeRole = Viewer;
        NSDocumentClass = TSDocument;
      },
    {
        CFBundleTypeName = "LogFile";
        CFBundleTypeReadableName = "Documento Log TeX";
        CFBundleTypeExtensions = ("log");
        CFBundleOSTypes = ("LOG");
        CFBundleDOSNames = ("eps");
        CFBundleTypeRole = Viewer;
        NSDocumentClass = TSDocument;
      },
      {
        CFBundleTypeName = "AuxFile";
        CFBundleTypeReadableName = "Documento Aux TeX";
        CFBundleTypeExtensions = ("aux");
        CFBundleOSTypes = ("AUX");
        CFBundleDOSNames = ("aux");
        CFBundleTypeRole = Viewer;
        NSDocumentClass = TSDocument;
      },
       {
        CFBundleTypeName = "DVIFile";
        CFBundleTypeReadableName = "Documento DVI TeX";
        CFBundleTypeExtensions = ("dvi");
        CFBundleOSTypes = ("DVI");
        CFBundleDOSNames = ("dvi");
        CFBundleTypeRole = Viewer;
        NSDocumentClass = TSDocument;
      },
      {
        CFBundleTypeName = "bib";
        CFBundleTypeReadableName = "Documento bib TeX";
        CFBundleTypeExtensions = ("bib");
        CFBundleOSTypes = ("BIB");
        CFBundleDOSNames = ("bib");
        CFBundleTypeRole = Editor;
        NSDocumentClass = TSDocument;
      },
      {
        CFBundleTypeName = "PostscriptFile";
        CFBundleTypeReadableName = "Documento Postscript";
        CFBundleTypeExtensions = ("ps");
        CFBundleOSTypes = ("PS");
        CFBundleDOSNames = ("ps");
        CFBundleTypeRole = Viewer;
        NSDocumentClass = TSDocument;
      },
      {
        CFBundleTypeName = "TexshopFile";
        CFBundleTypeReadableName = "TeXShop Root File";
        CFBundleTypeExtensions = ("texshop");
        CFBundleDOSNames = ("texshop");
        CFBundleTypeRole = Viewer;
        NSDocumentClass = TSDocument;
      },
       {
        CFBundleTypeName = "mp";
        CFBundleTypeReadableName = "mp";
        CFBundleTypeExtensions = ("mp");
        CFBundleDOSNames = ("MP");
        CFBundleTypeRole = Editor;
        NSDocumentClass = TSDocument;
      },
      {
        CFBundleTypeName = "mf";
        CFBundleTypeReadableName = "mf";
        CFBundleTypeExtensions = ("mf");
        CFBundleDOSNames = ("MF");
        CFBundleTypeRole = Editor;
        NSDocumentClass = TSDocument;
      },
       {
        CFBundleTypeName = "ins";
        CFBundleTypeReadableName = "Documento INS";
        CFBundleTypeExtensions = ("ins");
        CFBundleDOSNames = ("INS");
        CFBundleTypeRole = Editor;
        NSDocumentClass = TSDocument;
      },
        {
        CFBundleTypeName = "dtx";
        CFBundleTypeReadableName = "Documento DTX";
        CFBundleTypeExtensions = ("dtx");
        CFBundleDOSNames = ("DTX");
        CFBundleTypeRole = Editor;
        NSDocumentClass = TSDocument;
      },
        {
        CFBundleTypeName = "sty";
        CFBundleTypeReadableName = "Documento STY";
        CFBundleTypeExtensions = ("sty");
        CFBundleDOSNames = ("STY");
        CFBundleTypeRole = Editor;
        NSDocumentClass = TSDocument;
      },
        {
        CFBundleTypeName = "cls";
        CFBundleTypeReadableName = "Documento CLS";
        CFBundleTypeExtensions = ("cls");
        CFBundleDOSNames = ("CLS");
        CFBundleTypeRole = Editor;
        NSDocumentClass = TSDocument;
      },
       {
        CFBundleTypeName = "def";
        CFBundleTypeReadableName = "Documento DEF";
        CFBundleTypeExtensions = ("def");
        CFBundleDOSNames = ("DEF");
        CFBundleTypeRole = Editor;
        NSDocumentClass = TSDocument;
      },
        {
        CFBundleTypeName = "fd";
        CFBundleTypeReadableName = "Documento FD";
        CFBundleTypeExtensions = ("fd");
        CFBundleDOSNames = ("FD");
        CFBundleTypeRole = Editor;
        NSDocumentClass = TSDocument;
      },
        {
        CFBundleTypeName = "ltx";
        CFBundleTypeReadableName = "Documento LTX";
        CFBundleTypeExtensions = ("ltx");
        CFBundleDOSNames = ("LTX");
        CFBundleTypeRole = Editor;
        NSDocumentClass = TSDocument;
      },
        {
        CFBundleTypeName = "clo";
        CFBundleTypeReadableName = "Documento CLO";
        CFBundleTypeExtensions = ("clo");
        CFBundleDOSNames = ("CLO");
        CFBundleTypeRole = Editor;
        NSDocumentClass = TSDocument;
      },
        {
        CFBundleTypeName = "Plain Text";
        CFBundleTypeReadableName = "Solo Testo";
        CFBundleTypeExtensions = ("txt", "text", "*");
        CFBundleDOSNames = ("text/plain");
        CFBundleTypeRole = Editor;
        NSDocumentClass = TSDocument;
      },
    );
}