/* Localized versions of Info.plist keys */

{
    NSInfoPlistVersion = "6.1";
    NSAppVersion = "2";
    NSHumanReadableShortName = "TeXShop";
    NSHumanReadableCompleteName = "TeXShop"; 
    NSHumanReadableCopyright = "Copyright (c) 2001-2006, Richard Koch 
 http://www.texshop.org";
    CFBundleDocumentTypes = (
     {
        CFBundleTypeName = "tex";
        CFBundleTypeReadableName = "TeX Document";
        CFBundleTypeExtensions = ("tex", "TEX", "txt", "TXT");
        CFBundleOSTypes = ("TEXT", "????");
        CFBundleDOSNames = ("tex");
        CFBundleTypeRole = Editor;
        NSDocumentClass = TSDocument;
      }
      {
        CFBundleTypeName = "NSPDFPboardType";
        CFBundleTypeReadableName = "PDF Document";
        CFBundleTypeExtensions = ("pdf");
        CFBundleOSTypes = ("PDF");
        CFBundleDOSNames = ("pdf");
        CFBundleTypeRole = Viewer;
        NSDocumentClass = TSDocument;
      }
      {
        CFBundleTypeName = "NSTIFFPboardType";
        CFBundleTypeReadableName = "TIFF Document";
        CFBundleTypeExtensions = ("tiff", "tif");
        CFBundleOSTypes = ("TIFF");
        CFBundleDOSNames = ("tiff");
        CFBundleTypeRole = Viewer;
        NSDocumentClass = TSDocument;
      }
       {
        CFBundleTypeName = "NSEPSPboardType";
        CFBundleTypeReadableName = "EPS Document";
        CFBundleTypeExtensions = ("eps");
        CFBundleOSTypes = ("EPS");
        CFBundleDOSNames = ("eps");
        CFBundleTypeRole = Viewer;
        NSDocumentClass = TSDocument;
      }
        {
        CFBundleTypeName = "NSEPSIPboardType";
        CFBundleTypeReadableName = "EPSI Document";
        CFBundleTypeExtensions = ("epsi");
        CFBundleOSTypes = ("EPSI");
        CFBundleDOSNames = ("epsi");
        CFBundleTypeRole = Viewer;
        NSDocumentClass = TSDocument;
      }
    {
        CFBundleTypeName = "LogFile";
        CFBundleTypeReadableName = "TeX Log File";
        CFBundleTypeExtensions = ("log");
        CFBundleOSTypes = ("LOG");
        CFBundleDOSNames = ("eps");
        CFBundleTypeRole = Viewer;
        NSDocumentClass = TSDocument;
      }
      {
        CFBundleTypeName = "AuxFile";
        CFBundleTypeReadableName = "TeX Aux File";
        CFBundleTypeExtensions = ("aux");
        CFBundleOSTypes = ("AUX");
        CFBundleDOSNames = ("aux");
        CFBundleTypeRole = Viewer;
        NSDocumentClass = TSDocument;
      }
       {
        CFBundleTypeName = "DVIFile";
        CFBundleTypeReadableName = "TeX DVI File";
        CFBundleTypeExtensions = ("dvi");
        CFBundleOSTypes = ("DVI");
        CFBundleDOSNames = ("dvi");
        CFBundleTypeRole = Viewer;
        NSDocumentClass = TSDocument;
      }
      {
        CFBundleTypeName = "bib";
        CFBundleTypeReadableName = "TeX bib File";
        CFBundleTypeExtensions = ("bib");
        CFBundleOSTypes = ("BIB");
        CFBundleDOSNames = ("bib");
        CFBundleTypeRole = Editor;
        NSDocumentClass = TSDocument;
      }
      {
        CFBundleTypeName = "PostscriptFile";
        CFBundleTypeReadableName = "Postscript File";
        CFBundleTypeExtensions = ("ps");
        CFBundleOSTypes = ("PS");
        CFBundleDOSNames = ("ps");
        CFBundleTypeRole = Viewer;
        NSDocumentClass = TSDocument;
      }
      {
        CFBundleTypeName = "TexshopFile";
        CFBundleTypeReadableName = "TeXShop Root File";
        CFBundleTypeExtensions = ("texshop");
        CFBundleDOSNames = ("texshop");
        CFBundleTypeRole = Viewer;
        NSDocumentClass = TSDocument;
      }
      {
        CFBundleTypeName = "mp";
        CFBundleTypeReadableName = "mp";
        CFBundleTypeExtensions = ("mp");
        CFBundleDOSNames = ("MP");
        CFBundleTypeRole = Editor;
        NSDocumentClass = TSDocument;
      }
      {
        CFBundleTypeName = "mf";
        CFBundleTypeReadableName = "mf";
        CFBundleTypeExtensions = ("mf");
        CFBundleDOSNames = ("MF");
        CFBundleTypeRole = Editor;
        NSDocumentClass = TSDocument;
      }
       {
        CFBundleTypeName = "ins";
        CFBundleTypeReadableName = "INS File";
        CFBundleTypeExtensions = ("ins");
        CFBundleDOSNames = ("INS");
        CFBundleTypeRole = Editor;
        NSDocumentClass = TSDocument;
      }
        {
        CFBundleTypeName = "dtx";
        CFBundleTypeReadableName = "DTX File";
        CFBundleTypeExtensions = ("dtx");
        CFBundleDOSNames = ("DTX");
        CFBundleTypeRole = Editor;
        NSDocumentClass = TSDocument;
      }
        {
        CFBundleTypeName = "sty";
        CFBundleTypeReadableName = "STY File";
        CFBundleTypeExtensions = ("sty");
        CFBundleDOSNames = ("STY");
        CFBundleTypeRole = Editor;
        NSDocumentClass = TSDocument;
      }
        {
        CFBundleTypeName = "cls";
        CFBundleTypeReadableName = "CLS File";
        CFBundleTypeExtensions = ("cls");
        CFBundleDOSNames = ("CLS");
        CFBundleTypeRole = Editor;
        NSDocumentClass = TSDocument;
      }
        {
        CFBundleTypeName = "def";
        CFBundleTypeReadableName = "DEF File";
        CFBundleTypeExtensions = ("def");
        CFBundleDOSNames = ("DEF");
        CFBundleTypeRole = Editor;
        NSDocumentClass = TSDocument;
      }
        {
        CFBundleTypeName = "fd";
        CFBundleTypeReadableName = "FD File";
        CFBundleTypeExtensions = ("fd");
        CFBundleDOSNames = ("FD");
        CFBundleTypeRole = Editor;
        NSDocumentClass = TSDocument;
      }
        {
        CFBundleTypeName = "ltx";
        CFBundleTypeReadableName = "LTX File";
        CFBundleTypeExtensions = ("ltx");
        CFBundleDOSNames = ("LTX");
        CFBundleTypeRole = Editor;
        NSDocumentClass = TSDocument;
      }
        {
        CFBundleTypeName = "clo";
        CFBundleTypeReadableName = "CLO File";
        CFBundleTypeExtensions = ("clo");
        CFBundleDOSNames = ("CLO");
        CFBundleTypeRole = Editor;
        NSDocumentClass = TSDocument;
      }
        {
        CFBundleTypeName = "Plain Text";
        CFBundleTypeReadableName = "Plain Text";
        CFBundleTypeExtensions = ("txt", "text", "*");
        CFBundleDOSNames = ("text/plain");
        CFBundleTypeRole = Editor;
        NSDocumentClass = TSDocument;
      }
    );
}